<%- include('partials/header.ejs') %>

    <div class="flex flex-col justify-center items-center gap-4 mt-6 bg-slate-5">
        <div class="w-[90vw] md:w-[700px] flex justify-between bg-white">
            <div class="flex gap-2 cursor-pointer">
                <box-icon name='plus'></box-icon>
                <p>Create</p>
            </div>
            <div class="pl-4 flex gap-2 cursor-pointer relative">
                <p>Filter by</p>
                <box-icon name='down-arrow'></box-icon>
                <div class="absolute top-10 w-32 p-2 z-10 bg-slate-100 rounded-md shadow-sm flex flex-col gap-2">
                    <p>Newest</p>
                    <p>Oldest</p>
                </div>
            </div>
            
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="hidden sm:flex absolute bottom-0 right-1">
                <box-icon type='solid' name='edit' class="cursor-pointer"></box-icon>
                <box-icon name='trash' class="cursor-pointer"></box-icon>
            </div>
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="absolute bottom-0 right-1">
                <box-icon type='solid' name='edit'></box-icon>
                <box-icon name='trash'></box-icon>
            </div>
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="absolute bottom-0 right-1">
                <box-icon type='solid' name='edit'></box-icon>
                <box-icon name='trash'></box-icon>
            </div>
        </div>
    </div>

    <div class="px-5 sm:px-20 py-10 flex flex-col justify-center items-center gap-8" id="contact-section">
        <h1 class="text-2xl pl-2">Create a note</h1>
        <div class="flex justify-center items-center w-full contact-form">
            <form action="#" method="POST" class="flex flex-col gap-2 md:w-[50vw] w-full">
                <input type="text" placeholder="Title of the note" class="py-2 px-2 text-lg placeholder:italic placeholder:text-slate-400 p-1 border border-slate-300 focus:outline-none focus:text-slate-400 rounded-lg">
                <textarea name="message" id="" rows="6" placeholder="Your note here" class="py-2 px-2 text-lg placeholder:italic placeholder:text-slate-400 p-1 border border-slate-300 focus:outline-none focus:text-slate-400 rounded-lg"></textarea>
                <button type="submit" value="Envoyer" class="bg-black py-2 text-white font-semibold rounded-lg">Create</button>
            </form>
        </div>
    </div>

</body>
</html>