<%- include('partials/header.ejs') %>

    <div class="flex flex-col justify-center items-center gap-4 mt-6 bg-slate-5">
        <div class="w-[90vw] md:w-[700px] flex justify-between bg-white">
            <div class="flex gap-2 cursor-pointer">
                <box-icon name='plus'></box-icon>
                <p>Create</p>
            </div>
            <div class="pl-4 flex gap-2 cursor-pointer relative">
                <p>Filter by</p>
                <box-icon name='down-arrow'></box-icon>
                <div class="absolute top-10 w-32 p-2 z-10 bg-slate-100 rounded-md shadow-sm flex flex-col gap-2">
                    <p>Newest</p>
                    <p>Oldest</p>
                </div>
            </div>
            
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="hidden sm:flex absolute bottom-0 right-1">
                <box-icon type='solid' name='edit' class="cursor-pointer"></box-icon>
                <box-icon name='trash' class="cursor-pointer"></box-icon>
            </div>
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="absolute bottom-0 right-1">
                <box-icon type='solid' name='edit'></box-icon>
                <box-icon name='trash'></box-icon>
            </div>
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="absolute bottom-0 right-1">
                <box-icon type='solid' name='edit'></box-icon>
                <box-icon name='trash'></box-icon>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs')  %>
