<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sytles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>BlocNote</title>
</head>
<body class="relative">
    <header class="flex h-16 bg-white border border-b-2 border-gray-100 justify-between items-center gap-1 px-8">
        <div class="basis-1/4 flex-shrink- cursor-pointer">
            BlocNote
        </div>
        <div class="basis-1/2 flex flex-row-reverse justify-center items-center gap-1">
            <box-icon name='search' class="hidden md:inline cursor-pointer"></box-icon>
            <input type="text" class="w-full h-12 placeholder:italic placeholder:text-slate-400 p-1 border border-slate-300 focus:outline-none focus:text-slate-400 rounded-lg md:inline hidden" placeholder="search for notes">
        </div>
        <div class="basis-1/4 flex-shrink- flex gap-2 items-center justify-end">
            <box-icon name='search' class=" md:hidden cursor-pointer"></box-icon>
            <box-icon type='solid' name='user-circle' size="md" class="cursor-pointer"></box-icon>
        </div>
    </header>
    <div class="flex flex-col justify-center items-center gap-4 mt-6 bg-slate-5">
        <div class="w-[90vw] md:w-[700px] flex justify-between bg-white">
            <div class="flex gap-2 cursor-pointer">
                <box-icon name='plus'></box-icon>
                <p>Create</p>
            </div>
            <div class="pl-4 flex gap-2 cursor-pointer relative">
                <p>Filter by</p>
                <box-icon name='down-arrow'></box-icon>
                <div class="absolute top-10 w-32 p-2 z-10 bg-slate-100 rounded-md shadow-sm flex flex-col gap-2">
                    <p>Newest</p>
                    <p>Oldest</p>
                </div>
            </div>
            
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="absolute bottom-0 right-1">
                <box-icon type='solid' name='edit' class="cursor-pointer"></box-icon>
                <box-icon name='trash' class="cursor-pointer"></box-icon>
            </div>
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="absolute bottom-0 right-1">
                <box-icon type='solid' name='edit'></box-icon>
                <box-icon name='trash'></box-icon>
            </div>
        </div>
        <div class="w-[90vw] md:w-[700px] relative rounded-lg bg-white border border-slate-300 h-24 pl-4 flex flex-col justify-center gap-2">
            <h1 class="text-2xl">This is the title</h1>
            <p>This is a body, this is a body, this is a body, this is a body</p>
            <div class="absolute bottom-0 right-1">
                <box-icon type='solid' name='edit'></box-icon>
                <box-icon name='trash'></box-icon>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Create Block Note</h2>
        <form id="noteForm">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
          </div>
          <div class="form-group">
            <label for="body">Body:</label>
            <textarea id="body" name="body" required></textarea>
          </div>
          <div class="form-group">
            <button type="submit">Create Note</button>
          </div>
        </form>
    </div>

    <footer class="absolute w-[100vw] bg-slate-400 text-center bottom-0 left-0 right-0">
        Made with ❤️ by Franklin Muhumbania
    </footer>
</body>
</html>