<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <link href="./styles/signup.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-[100vh] flex justify-center items-center bg-gray-200 gap-8">
        <div class="bg-white flex flex-col items-center p-4 rounded-lg">
            <h1 class="text-lg mb-2">Sign in</h1>
            <form action="" method="post" class="flex flex-col gap-6 w-[280px] text-gray-600">
                <div class="flex justify-between">
                    <label for="name">Username</label>
                    <input type="text" id="username" name="username" class="bg-gray-100 outline-gray-200 p-0.5" required>
                </div>
    
                
                <div class="flex justify-between">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="bg-gray-100 outline-gray-200 p-0.5" required>
                </div>
                <input type="submit" value="Sign in" class="bg-black text-white text-md font-medium p-1 rounded-md cursor-pointer">
                <p>Don't have an account? <a href="/register" class="underline underline-offset-2 text-black font-bold">Sign up</a></p>
            </form>
        </div>
        
    </div>
</body>
</html>
