<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <link href="./styles/signup.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-[100vh] flex justify-center items-center bg-gray-200 gap-8">
        <div class="bg-white flex flex-col items-center p-4 rounded-lg">
            <h1 class="text-lg mb-2">Sign up</h1>
            <form action="" method="post" class="flex flex-col gap-6 w-[280px] text-gray-600">
                <input type="text" id="username" name="username" placeholder="username" class="placeholder:text-slate-400 p-1 border border-slate-300 focus:outline-none focus:text-slate-600 rounded-lg w-full" required> 
                <input type="email" id="email" name="email" placeholder="email" class="placeholder:text-slate-400 p-1 border border-slate-300 focus:outline-none focus:text-slate-600 rounded-lg w-full" required>
                <input type="password" id="password" name="password" placeholder="password" class="placeholder:text-slate-400 p-1 border border-slate-300 focus:outline-none focus:text-slate-600 rounded-lg w-full" required>
                <div class="flex w-full justify-center gap-4 border border-slate-300 rounded-lg p-1 cursor-pointer">
                    <box-icon type='logo' name='google'></box-icon>
                    <p>Sign up with google</p>
                </div>
                <input type="submit" value="Sign up" class="bg-black text-white text-md font-medium p-1 rounded-md cursor-pointer">
                <p>Already have an account? <a href="/login" class="underline underline-offset-2 text-black font-bold">Sign in</a></p>
            </form>
        </div>
        
    </div>
</body>
</html>
