<%= include('/partials/header.ejs') %>
    <div class="flex flex-col justify-center items-center gap-4 mt-6 bg-slate-5">
        <div class="flex w-[700px] justify-start gap-2 cursor-pointer">
            <box-icon name='left-arrow' ></box-icon>
            <p>Back</p>
        </div>
        <div class="text-3xl font-semibold pb-4 border-b-2 border-slate-300 w-[90vw] md:w-[700px] text-center">
            This is the title
        </div>
        <div class="flex flex-col w-[90vw] md:w-[700px] gap-3">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio dolor, malesuada et efficitur aliquet, tincidunt at velit. Ut quam sapien, tincidunt a pulvinar in, hendrerit sit amet risus. Fusce mollis ligula elit, id porta mauris sodales sed. Nunc et ante et leo sodales cursus sed nec mi. Nam dapibus vulputate turpis eu vestibulum. Maecenas eget nibh ac libero laoreet sollicitudin. Pellentesque facilisis, sem sit amet pulvinar porta, dolor lectus pulvinar lectus, non ultrices nisi sapien auctor nisi.
            </div>
            <div>
                Pellentesque metus ligula, congue quis arcu ac, pulvinar consectetur nulla. Proin nec tellus quis elit eleifend aliquet. Maecenas feugiat lorem dolor. Pellentesque a euismod felis. Ut feugiat ut elit quis bibendum. Nunc vestibulum, nulla quis euismod mollis, est massa elementum purus, ut rutrum mi ante consectetur magna. Quisque in mi leo. Etiam egestas quam non dapibus consectetur.
            </div>
            <div>
                In ac sollicitudin mauris, ac ullamcorper magna. Aliquam erat volutpat. Donec faucibus, ligula eget rutrum scelerisque, dui sem pretium dolor, non facilisis libero mauris ut sem. Donec id volutpat ante, malesuada placerat ligula. Nulla sit amet congue ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ex urna, mollis at arcu ac, imperdiet tincidunt est.
            </div>
        </div>
    </div>

    <footer class="absolute w-[100vw] bg-slate-400 text-center bottom-0 left-0 right-0">
        Made with ❤️ by Franklin Muhumbania
    </footer>
</body>
</html>